<% if controller_name != 'sessions' %>
  <p><%= link_to t('.sign_in', default: 'Login'), new_session_path(resource_name) %></p><br />
<% end %>

<% if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <p><%= link_to t('.forgot_your_password', default: 'Forgot your password?'), new_password_path(resource_name) %></p><br />
<% end %>

<%= javascript_include_tag 'jquery.easing.min', 'preloader', 'jquery.shuffle.min', 'custom', media: 'all', 'data-turbolinks-track' => true %>
