<!-- footer -->
<footer class="light-footer fixed-bottom">
    <div class="container-fluid">
        <p class="footer-info">© 2017 - <strong>PawelCiechelski</strong> - Photography. All Rights Reserved.
            <span class="social pull-right">
                <%= link_to 'https://web.facebook.com/Pawel-Ciechelski-Photography-1307521106035720/' do %><i class="fa fa-facebook-official fa-lg"></i><% end %>
            </span>
        </p>
    </div><!-- / container -->
</footer>
<!-- / footer -->